body{
 background: rgb(235, 236, 228);
 margin: 0;
 font-family: 'Lora', serif;
 -webkit-font-smoothing: antialiased;
  color:goldenrod;
}
.wrapper{
  position: relative;
  clear:both;
  margin: 0 auto 75px auto;
  width: 100%;
  overflow: hidden;
}
.top{
  background: #175c32;
  height: 180px;
  border-top: 20px solid #0c3a12;
}

.top .title {
  width: 700px;
  margin: 38px auto 0 auto; 
}

.title h1 {
  font-size:24px;
  color:gold;
  font-weight:500;
}

.content{
    margin: -80px auto 100px;
  padding-bottom: 20px;
}

.card{
  position: relative;
  background: #08390e;
  padding:50px;
  width: 600px;
  margin: 20px auto 0 auto;
  box-shadow: 0 2px 4px rgba(100,100,100,.1);
}

.card h2 {
  font-size:21px;
  font-weight:500;
}

a{
  color:goldenrod;
}

.card h2 a {
  color:darkgreen;
  text-decoration:none;
}

.card .text {
  color:goldenrod;
  margin-top:20px;
  font-size:15px;
  line-height:22px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0a4e13;
  color: gold;
  text-align: center;
}